<div class="column_w920">
        
      <div class="column_w190 fl margin_right_40">
            	<a href="#"><img src="<%= image_path 'templatemo_image_02.jpg' %>" alt="image" /></a>
              <p>Nam sit amet justo vel libero tincidunt dignissim. Cras magna velit, pellentesque mattis, faucibus vitae, feugiat vitae. <a href="#">Read more...</a></p>                
          </div>
            
      <div class="column_w190 fl margin_right_40">
            	<a href="#"><img src="<%= image_path 'templatemo_image_03.jpg' %>" alt="image" /></a>
          <p>Pellentesque tortor metus, gravida ut aliquet non, iaculis nec nisi. Null am ornare, mauris vitae vehicula veh icula. <a href="#">Read more...</a></p>                
          </div>
            
      <div class="column_w190 fl margin_right_40">
            	<a href="#"><img src="<%= image_path 'templatemo_image_04.jpg' %>" alt="image" /></a>
          <p>Proin consequat interdum mauris id auctor. In justo dolor, luctus sed tristique vel, porttitor eu enim. In molestie vehicula pretium  iaculis. <a href="#">Read more...</a></p>                
          </div>
            
      <div class="column_w190 fl">
            	<a href="#"><img src="<%= image_path 'templatemo_image_05.jpg' %>" alt="image" /></a>
          <p>Suspendisse odio erat, mattis in hend rerit id, iaculis at metus. Aliquam ligula justo, gravida sed pretium eu. <a href="#">Read more...</a></p>                
          </div>
        
       	  <div class="margin_bottom_15"></div>